<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- [IE] Tell old IE to use the latest edge rendering engine or chrome engine if installed. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- [Mobile] Setup page for Mobile Views -->
    <meta name="viewport" content="width=device-width,minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- [Android] Theme for Android -->
    <meta name="theme-color" content="#00688B"/>
    <!-- [iOS] Set up App for Apple Mobile Web View (disable ui when from homescreen) -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- [iOS] Make Status Bar minimal -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- [iOS] Set Mobile Startup Image -->
    <link rel="apple-touch-startup-image" href="/startup.png">
    <!-- Normalize Styles for different browsers -->
    <link href="/static/css/normalize.css" rel="stylesheet">
    <!-- Font Icons -->
    <link href="/static/css/fonts.css" rel="stylesheet"/>
    <!-- Navbar and body styles -->
    <link href="/static/css/core.css" rel="stylesheet"/>
    <!-- Group post styles -->
    <link href="/static/css/group.css" rel="stylesheet"/>
    <!-- Responsive styles -->
    <link href="/static/css/responsive.css" rel="stylesheet"/>
    <!-- xterm styles-->
    <link rel="stylesheet" href="/static/css/xterm.css" />
    <!-- xterm fullscreen addon styles-->
    <link rel="stylesheet" href="/static/css/fullscreen.css" />
    <!-- highlight.js styles for code-->
    <link rel="stylesheet" href="/static/css/highlight.css" />
    <!--
    <link href="" rel="stylesheet"/>
    <link href="##.png" rel="icon shortcut" sizes="64x64"/>
    <link href="##.png" rel="icon shortcut" sizes="128x128"/>
    <link href="##.png" rel="icon shortcut" sizes="192x192"/>
    <link href="##.png" rel="apple-touch-icon" sizes="76x76"/>
    <link href="##.png" rel="apple-touch-icon" sizes="120x120"/>
    <link href="##.png" rel="apple-touch-icon" sizes="152x152"/>
    <link href="##.png" rel="apple-touch-icon" sizes="180x180"/>
    -->
    <title>mixroom</title>
    <meta name="description" content="Posts and other stuff"/>
  </head>
  <body>
    <!-- Application -->
    <div id="app-container">
      <nav class="TopNav" id="navbar">
        <span class="TopNav-left">
          <a href="/" id="TopNav-svg" class="TopNav-item">
          <!-- Application
            <span id="TopNav-icon">
            <circle cx="25" cy="20" r="10" stroke-width=".5" stroke="white" fill="white"/>
              <span class="icon-comment">
              </span>
            </span>
          -->
          <svg id="svg-logo" width="42px" height="42px">
            <rect x="13" y="6.5" width="28" height="28" stroke="white" fill="#5FB5FF"/>
            <rect x="18" y="12" rx="1" ry="1" width="18" height="12"
              style="fill:white;" />
            <line x1="28" y1="28.5" x2="36" y2="28.5" style="stroke:white;stroke-width:1" />
            <line x1="19" y1="28.5" x2="24" y2="28.5" style="stroke:white;stroke-width:1" />
          </svg>
          </a>
          <a href="/" class="TopNav-item" id="TopNav-title">
            <span id="TopNav-title-text">mixroom</span>
          </a>
          <span id="TopNav-input" class="desktop">
            <input id="TopNav-GoToGroup" placeholder="random">
            <button id="TopNav-input-button">go</button>
          </span>
        </span>
        <span class="TopNav-right">
          <a href="/" id="TopNav-post">
            <span class="icon icon-pencil DTReaction">
            </span>
            <span id="TopNav-post-text" class="desktop DTReaction">
            + post
            </span>
          </a>
          <a href="/" id="TopNav-search">
            <span class="icon icon-search flip DTReaction"></span>
            <span id="TopNav-search-text" class="desktop DTReaction">
            <span id="TopNav-search-text-left">⚲</span> search
            </span>
          </a>
          <button id="TopNav-menu">
            <span id="TopNav-menu-icon" class="icon icon-menu DTReaction"></span>
            <span id="TopNav-menu-text" class="desktop DTReaction">
              <span id="TopNav-menu-text-left">≡</span> menu
            </span>
            <span id="dropdown-caret" class="desktop">&#x25B2;</span>
          </button>
        </span>
      </nav>
      <div id="TopNav-searchbox-bg" class="hide">
        <div id="TopNav-searchbox">
          <span id="TopNav-searchbox-exit">
            <span id="TopNav-searchbox-exit-icon" class="icon icon-left-open-big DTReaction"></span>
          </span>
          <input placeholder="Search mixroom" type=search id="TopNav-searchbox-box">
          <span id="TopNav-searchbox-clear">
            <span class="icon-cancel-circled DTReaction"></span>
          </span>
        </div>
      </div>
      <div id="nav-placeholder"></div>
      <main id="main" class="scroll">
      {{{body}}}
      </main>
      <div id="term" class="desktop"></div>
    </div>
    <!-- This javascript is escaped -->
    <script type="text/javascript">
      var bootstrap = JSON.parse("{{{data}}}".replace(/&#(\d+);/g, function(match, dec) {
        return String.fromCharCode(dec);
      }));
    </script>
    <!-- Include the App-->
    <script type="text/javascript" src="/static/bundle.js"></script>
  </body>
</html>
