iframe {
  max-width: 100%;
  display: block; }

#Main-container {
  background-color: #FBEFEF; }

.space {
  padding: 5px; }

.List {
  min-height: calc(100vh - 90px);
  overflow-x: hidden; }

.Post, .HeadPost {
  width: 100%;
  margin: 5px 0px;
  background-color: #fff; }

.Header, .Footer {
  padding: 5px 10px; }

.Head-author {
  color: #3b5998; }

.Head-group {
  color: #6879FF; }

.Head-rm {
  color: #CCCCCA;
  float: right; }

.Content-frame, .Content-text {
  text-indent: 10px;
  margin: 5px 0px;
  /* text-align: center; */
  font-size: 18px; }

.Content-iv {
  width: 100%; }

.Body {
  width: 100%;
  max-height: 400px; }

.Body-content {
  margin: 10px;
  min-height: 60px; }

.Footer-content {
  padding-bottom: 5px; }

.Footer-left {
  color: #CCCCCA; }

.Footer-right {
  float: right;
  color: #3b5998; }

.Main-Footer {
  background-color: #FCFCFB; }

.Main-Footer-btn {
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px;
  width: 75px;
  text-align: center;
  background-color: #5FB5FF;
  color: white !important; }

#nextpage {
  float: right;
  margin-right: 15px; }

#prevpage {
  float: left;
  margin-left: 15px; }
