.desktop {
  display: none; }

.bigger {
  display: none; }

@media only screen and (min-width: 470px) and (max-width: 768px) {
  /* Styles */
  iframe {
    width: calc(75vh * 1.77) !important;
    height: 75vh !important;
    display: flex;
    margin: auto; }
  .Content-frame {
    text-align: center; }
  .List {
    min-height: calc(100vh - 90px);
    margin: auto;
    width: 98%; } }

@media only screen and (min-width: 768px) and (max-width: 900px) {
  /* Styles */
  iframe {
    width: calc(75vh * 1.77) !important;
    height: 75vh !important; }
  .Content-frame {
    text-align: center; }
  .List {
    min-height: calc(100vh - 90px);
    margin: auto;
    width: 90%; } }

@media only screen and (min-width: 900px) {
  #rightimg {
    width: 268px;
    height: 325px; }
  .Search-divider {
    border: 1px solid #F9EBEB; }
  #List-size-switch {
    position: absolute;
    right: 0px; }
  .rb-switcher input {
    display: none; }
  .rb-switcher i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); }
  .rb-switcher i:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .rb-switcher :checked + i {
    padding-right: 0;
    padding-left: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 40px lightblue; }
  .rb-switcher.red :checked + i {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 40px red; }
  fieldset {
    max-width: 250px; }
  label[for] {
    cursor: pointer; }
  .fly {
    transform: translate3d(100vh, 0px, 0px);
    transition: translation .1s ease; }
  .mobile {
    display: none; }
  /**
   *  Nightmode
   */
  .nightmode * {
    transition: background-color .5s ease; }
  .nightmode #TopNav {
    box-shadow: 0 0 5px 0 #ccc !important; }
  .nightmode #TopNav-title-text {
    color: #d7ddea; }
  .nightmode .active ~ #dropdown-caret {
    color: #232323;
    background-color: transparent !important;
    text-shadow: 1px 0 0 #CCC, 0 -1px 0 #CCC, 0 1px, -1px 0 0 #CCC; }
  .nightmode .TopNav-menu-dropdown-row:hover {
    background-color: #1f1f1f; }
  .nightmode #TopNav-menu-list, .nightmode .TopNav-menu-dropdown-row, .nightmode #TopNav-right {
    background-color: #232323; }
  .nightmode #TopNav-menu-list span, .nightmode .TopNav-menu-dropdown-row span {
    background-color: transparent !important; }
  .nightmode input, .nightmode button, .nightmode textarea, .nightmode #writer-label, .nightmode #writer-buttons,
  .nightmode #writer-toggle, .nightmode #writer-exit, .nightmode #writer-upload, .nightmode #writer-send, .nightmode #TopNav-searchbox-exit-icon,
  .nightmode #TopNav-searchbox-exit, .nightmode #TopNav-searchbox-clear, .nightmode .icon-cancel-circled, .nightmode #writer-upload-text {
    background-color: grey !important;
    color: white; }
  .nightmode #writer-label {
    padding: 0px;
    margin-left: 15px; }
  .nightmode #writer-buttons {
    margin-bottom: 2px; }
  .nightmode #TopNav-searchbox-bg {
    background-color: rgba(0, 0, 0, 0.45) !important; }
  .nightmode #TopNav-search-text, .nightmode #TopNav-menu-text {
    height: 42px; }
  .nightmode nav {
    box-shadow: 0 0 5px 0 rgba(148, 148, 148, 0.2);
    background-color: #1f2022;
    color: #a0a0a0; }
  .nightmode div, .nightmode span, .nightmode p:not(.Body-green) {
    background-color: #1f2022 !important;
    color: #a0a0a0; }
  #term {
    transition: opacity 1s ease-out;
    opacity: 0;
    position: absolute;
    left: -999em; }
  /**
   *  Developer mode
   */
  .devmode {
    overflow-x: hidden; }
    .devmode #term {
      display: block !important;
      position: absolute;
      left: 20%;
      width: 63vw;
      top: 107px;
      height: auto;
      opacity: 1; }
    .devmode .terminal, .devmode .xterm-viewport {
      background-color: transparent !important; }
    .devmode .terminal-cursor {
      background-color: #d768cb !important;
      color: #d768cb !important; }
    .devmode .xterm-rows div {
      background-color: #000 !important;
      color: white !important; }
    .devmode .xterm-rows {
      background-color: #000 !important;
      padding: 8px 5px; }
    .devmode #List {
      max-height: calc(90vh - 42px); }
    .devmode * {
      transition: transform .5s ease; }
    .devmode #List, .devmode #Poplisting, .devmode #writer, .devmode .Main-Footer {
      transform: translate3d(100vw, 0px, 0px); }
  /**
   * Thread Big
   */
  .threadenlarge {
    overflow-x: hidden; }
    .threadenlarge iframe {
      height: calc(0.5625 * 65vw); }
    .threadenlarge * {
      transition: transform, width .5s ease; }
    .threadenlarge #List {
      max-width: 67%; }
    .threadenlarge #Poplisting {
      transform: translate3d(100vw, 0px, 0px); }
  /**
   * Fix navbar icons (remove them)
   */
  .TopNav-right .icon {
    display: none; }
  #TopNav-menu, #TopNav-search, #TopNav-post {
    width: auto !important;
    right: none;
    line-height: 42px; }
  #TopNav-search-text, #TopNav-post-text, #TopNav-menu-text {
    right: unset;
    position: relative; }
  #svg-logo {
    margin-left: 18px;
    margin-top: 1.2px;
    margin-right: 0px; }
  .TopNav-menu-dropdown-row, .GroupAuthor-name {
    cursor: pointer;
    background-color: white; }
  .TopNav-menu-dropdown-row:hover {
    background-color: #F5F5F3; }
  .TopNav-menu-dropdown-row {
    height: 45px; }
  .GroupAuthor-name:hover, .Head-author:hover {
    color: #A3D4FF; }
  #GroupNav-input {
    width: 100%;
    font-size: 14px;
    height: 30px;
    background-color: #FFEDED;
    cursor: pointer;
    border: 1px solid transparent; }
  #GroupNav-input:focus {
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCA;
    outline: none;
    cursor: auto; }
  #GroupNav-input:hover {
    background-color: #EFD5D5; }
  .icon, label, .Head-rm {
    cursor: pointer !important; }
  .icon:hover, label:hover, .Head-rm {
    color: #A3D4FF; }
  .menu-active {
    overflow-y: scroll !important; }
  .DTReaction:hover {
    color: #A3D4FF; }
  a:hover :not(#TopNav-title-text) {
    color: #A3D4FF;
    cursor: pointer; }
  a {
    cursor: pointer; }
  .Head-group:hover {
    color: #A3D4FF; }
  .space:hover {
    color: #A3D4FF; }
  .space:hover {
    cursor: pointer; }
  #TopNav-writer-mount {
    top: auto;
    left: auto;
    position: fixed;
    height: 60vh;
    width: 300px;
    z-index: 14;
    background-color: #FCFCFB;
    bottom: 0px;
    right: 20vw;
    border-top: solid 1px #F9EBEB;
    border-right: solid 1px #F9EBEB;
    border-left: solid 1px #F9EBEB; }
  .originalWriter {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important; }
  .originalWriter #TopNav-writer-head:hover:after {
    color: #CCCCCA;
    content: ' minimize'; }
  .originalWriter #TopNav-writer-head:after {
    color: #CCCCCA;
    content: ' minimize'; }
  #TopNav-writer-head {
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%; }
  #TopNav-writer-head:hover:after {
    color: #CCCCCA;
    content: ' fullscreen'; }
  #TopNav-writer-link-box {
    border-bottom: none; }
  #TopNav-writer-mount textarea {
    border-top: solid 1px #ccc;
    border-right: solid 1px #F9EBEB; }
  #TopNav-writer-send {
    cursor: pointer; }
  #TopNav-searchbox-clear, #TopNav-searchbox-exit {
    top: 5px; }
  #TopNav-searchbox {
    height: 42px; }
  #TopNav-searchbox-box {
    height: 42px; }
  #TopNav-menu-bg {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 11;
    padding-bottom: calc(100% + 50px);
    top: 42px;
    left: 0;
    font-size: 15px;
    overflow-y: hidden; }
  #TopNav-menu-list {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    position: absolute;
    width: 270px;
    z-index: 11;
    left: auto;
    top: 0px;
    right: 100px;
    font-size: 15px;
    overflow-y: hidden;
    font-size: 14px;
    padding: 5px 0px 0px 0px; }
  #dropdown-caret {
    color: white;
    display: none;
    left: -1px; }
  .writemode .icon-pencil {
    color: #5FB5FF !important; }
  .writemode #TopNav-post-text {
    color: #5FB5FF !important; }
  .active + #TopNav-menu-text {
    color: #5FB5FF; }
  .active ~ #dropdown-caret {
    position: absolute;
    display: block;
    color: #FCFCFB;
    text-shadow: 1px 0 0 #CCC, 0 -1px 0 #CCC, 0 1px 0 #FCFCFB, -1px 0 0 #CCC;
    z-index: 13;
    top: 17px; }
  .ddtop {
    box-shadow: none; }
  #TopNav-input {
    position: fixed;
    top: 9px;
    left: 20%;
    padding-right: 0px; }
  #TopNav-GoToGroup {
    width: 270px;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-indent: 5px;
    height: 24px; }
  .Ready-button {
    color: white !important;
    background-color: #3b5998 !important; }
  #TopNav-input-button {
    color: #afafaf;
    border: 1px solid #ccc;
    height: 24px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
    border-left: 1px solid #ccc;
    right: -28px;
    line-height: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;
    border-left: none;
    color: white; }
  #TopNav-input-button:focus {
    outline: 0px; }
  #TopNav-GoToGroup:focus + #TopNav-input-button {
    color: #6a80ad;
    border: 1px solid #6a80ad !important; }
  #TopNav-GoToGroup:focus {
    border: solid 1px #6a80ad;
    outline: 0px; }
  #Main-listing-header {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 20%;
    top: 75px;
    width: 500px;
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 5px 0px; }
  #Tools {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: calc(20% - 100px);
    top: 75px;
    width: 85px;
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 5px 0px; }
  #Tools-menu {
    cursor: pointer;
    position: absolute;
    left: calc(20% - 100px);
    top: 113px;
    color: #3b5998;
    width: 85px;
    padding: 0px 0px 5px 0px; }
  #Tools-menu div:hover {
    color: #A3D4FF; }
  #Tools-menu div:hover > span {
    color: #3b5998; }
  #Tools-menu > div {
    padding: 5px 0px; }
  .Tools-selected span {
    display: block !important;
    position: absolute;
    left: -10px;
    font-size: 16.5px; }
  #Main-listing-pg {
    color: #ccc; }
  .Created {
    font-size: 16px;
    padding-left: 5px; }
  .ThreadCreated {
    font-size: 16px;
    padding-left: 5px;
    border-bottom: 1px solid #ccc; }
  #TopNav-writer-submit-label {
    top: 6.5px; }
  #Main-desktop-info {
    display: none;
    top: 47px;
    width: 18%;
    position: absolute;
    left: 10px; }
  #Main-desktop-title-text {
    color: #3b5998; }
  .GroupPage {
    padding-left: 5px;
    font-size: 16px;
    border-bottom: solid 1px #ccc; }
  .GroupName, .ThreadNav {
    padding: 5px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #ccc; }
  .GroupAuthor {
    font-size: 16px;
    padding-left: 5px;
    border-bottom: solid 1px #ccc;
    min-height: 40px; }
  .GroupAuthor-name {
    color: #3b5998; }
  .desktop {
    display: block; }
  .PopularList, #Main-desktop-group, #Main-desktop-thread {
    overflow: hidden;
    background-color: #F8F8F8; }
  .Content-wrapper {
    overflow: hidden; }
  .Content-frame {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
  .Thread .Content-wrapper {
    max-height: 100% !important; }
  .Thread .Content-frame {
    height: auto !important; }
  .Thread img {
    width: 100% !important;
    height: auto !important;
    max-width: calc(75vh * 1.77) !important; }
  /* show normal view in stream */
  iframe {
    width: calc(75vh * 1.77); }
  .Footer-right {
    font-size: 14px; }
  .Thread iframe {
    width: calc(75vh * 1.77);
    height: 75vh; }
  .PopularPost iframe {
    width: 100%;
    min-height: 200px;
    height: auto !important; }
  .PopularPost, #Main-desktop-title {
    background-color: #FFFFFF; }
  #Main-desktop-title {
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    display: flex; }
  #Main-container {
    background-color: white; }
  .TopNav {
    height: 42px; }
  .Head-right {
    float: right; }
  .HeadPost img {
    height: auto !important; }
  .HeadPost, .Post, #Main-desktop-group, #Main-desktop-thread {
    border: 1px solid #F9EBEB; }
  .Thread {
    min-width: 620px !important; }
  .List {
    background-color: white;
    padding-top: 65px;
    min-height: calc(100vh - 90px);
    max-width: 500px;
    margin-left: 20%; }
  #TopNav-icon {
    left: 35px;
    top: 8px;
    font-size: 16px !important; }
  #TopNav-title-text {
    top: 5.5px;
    left: calc(20% - 100px);
    color: #3b5998; }
  #TopNav-svg {
    margin-left: 90px;
    display: none; }
  .icon-comment:before {
    margin: 5px; }
  #nav-placeholder {
    padding-top: 42px; }
  .icon {
    font-size: 24px;
    color: #CCCCCA;
    padding: 0px; }
  .TopNav-right {
    width: 270px;
    padding-left: 0px;
    display: inline-flex; }
  .TopNav-right span {
    font-weight: 500 !important; }
  #TopNav-post {
    right: auto;
    position: relative;
    display: inline-block;
    width: 70px; }
  #TopNav-post .icon {
    position: relative;
    top: -3px; }
  #TopNav-post-text {
    font-size: 18px;
    font-weight: bold;
    color: #CCCCCA; }
  #TopNav-search {
    display: flex;
    margin: auto;
    right: auto;
    width: 92px;
    position: relative; }
  #TopNav-search .icon {
    font-size: 23px;
    position: relative;
    top: -3.5px; }
  #TopNav-search-text {
    font-size: 18px;
    font-weight: bold;
    color: #CCCCCA; }
  #TopNav-search-text-left {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg); }
  #TopNav-menu {
    height: 42px;
    display: inline-block;
    right: 0px;
    padding-right: 0px;
    position: relative;
    color: #CCCCCA; }
  #TopNav-menu:hover {
    color: #A3D4FF; }
  #TopNav-menu .icon {
    top: 0px;
    width: auto;
    left: 0px;
    position: absolute; }
  #TopNav-menu-text {
    right: 0px;
    font-size: 18px;
    font-weight: bold;
    color: inherit; }
  #TopNav-menu-text-left {
    vertical-align: middle; }
  #TopNav-menu-icon {
    color: inherit; }
  #prevpage {
    margin-left: calc(20% - 100px); }
  #nextpage {
    margin-right: 15.5%; }
  #Poplisting {
    transition: transform .5s ease;
    height: 360px;
    position: fixed;
    width: 270px;
    background-color: white;
    right: 163px;
    top: 67px;
    border: 1px solid #F9EBEB; }
  #Poplisting-title {
    display: flex;
    line-height: 24px;
    min-height: 24px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    padding: 5px 15px; }
  #Poplisting-title-label {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #ccc;
    font-size: 14px; }
  .PopularPost {
    cursor: pointer;
    color: #3b5998;
    padding: 10px 15px; }
  .PopularPost:hover {
    color: #A3D4FF; }
  .PopularPost-count {
    position: absolute;
    right: 20px;
    color: #ccc; }
  #writer {
    transition: width .2s, height .2s, background-color .2s, transform .2s;
    position: fixed;
    right: 6%;
    top: 432px;
    z-index: 11; }
  .Writer-fs {
    transform: translate3d(0px, -385px, 0px); }
  .Writer-fs #writer {
    overflow: visible;
    left: calc(20% - 100px) !important; }
  .Writer-fs #writer-input {
    height: 90vh;
    padding-top: 30px;
    width: calc(72.5vw + 117px); }
  .Writer-fs #writer-options {
    top: 25px;
    right: 8px; }
  #writer-label {
    position: absolute;
    top: 4px;
    padding-left: 15px;
    font-size: 14px;
    color: #ccc; }
  #writer-exit {
    cursor: pointer;
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
    right: 9px;
    top: 6px;
    font-size: 14px;
    color: #3b5998; }
  .writer-selected {
    top: 4px !important; }
  #writer-hide {
    cursor: pointer;
    color: #3b5998; }
  #writer-input {
    transition: width .1s ease .2s, height .1s ease .2s, background-color .2s, transform .2s ease .1s;
    font-size: 14px;
    padding: 22px 15px 15px 15px;
    width: 270px;
    resize: none;
    border: 1px solid #F9EBEB;
    height: 160px; }
  #writer-input:focus {
    border: 1px solid #3b5998;
    outline: none; }
  #writer-input:focus + #writer-label {
    color: #3b5998; }
  #writer-toggle {
    cursor: pointer;
    position: absolute;
    top: 3px;
    color: #3b5998;
    right: 22px; }
  #writer-buttons {
    position: absolute;
    color: #3b5998;
    bottom: 5px;
    background-color: transparent;
    border: none;
    right: 3px; }
  #writer-send {
    color: #3b5998;
    background-color: transparent;
    border: none; }
  #writer-upload {
    color: #3b5998;
    background-color: transparent;
    border: none; }
  #writer-options {
    border-radius: 2px;
    background-color: white;
    position: fixed;
    right: 6.6vw;
    top: 460px;
    width: 170px;
    z-index: 12;
    border: 1px solid #ccc;
    color: black;
    font-size: 14px;
    font-family: sans-serif; }
  .writer-option {
    padding: 5px; }
  #writer-link, #writer-username {
    border-bottom: 1px solid #ccc; }
  #writer-username select {
    outline: none;
    width: 90px;
    background-color: transparent;
    border: none;
    text-indent: 1px;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #3b5598; }
  #writer-link {
    padding: 0px; }
  #writer-link input {
    outline: none;
    padding: 0px;
    border: none;
    width: 100%;
    text-indent: 5px;
    min-height: 30px; }
  #writer-link input:focus {
    margin: 0px; }
  #writer-send:focus, #writer-upload:focus {
    outline: none; }
  #writer-send:hover, #writer-toggle:hover, #writer-exit:hover, #writer-hide:hover, #writer-upload:hover {
    color: #A3D4FF; }
  .Mixroom-info {
    text-align: center;
    width: 270px;
    position: absolute;
    top: 365px; }
  .Mixroom-info span {
    padding: 0px 5px; }
  .Mixroom-info a {
    font-size: 13px;
    color: #ccc; } }

@media only screen and (min-width: 900px) and (max-width: 1223px) {
  /**
   *  Developer mode
   */
  .devmode #term {
    display: block !important;
    position: absolute;
    left: 20%;
    width: 73vw;
    top: 107px;
    opacity: 1; }
  #Main-desktop-group {
    top: 47px;
    width: calc(27% * 1.75 - 210px);
    background-color: #FFFFFF;
    position: absolute;
    left: calc(340px + 38%); }
  #Main-desktop-thread {
    display: none; }
  .TopNav-right {
    margin-right: 5.5%; }
  #TopNav-menu-list {
    right: 6%; }
  #Poplisting {
    right: 6%; } }

@media only screen and (min-width: 1052px) {
  #TopNav-GoToGroup {
    width: 472px; } }

@media only screen and (min-width: 1224px) {
  /**
   * Thread Big
   */
  .threadenlarge #List {
    max-width: 58%; }
  #Main-desktop-group {
    display: none;
    top: 47px;
    width: 350px;
    background-color: #FFFFFF;
    position: absolute;
    left: calc(325px + 35%); }
  #TopNav-GoToGroup {
    width: 472px; }
  #Main-desktop-thread {
    top: 47px;
    width: calc(27% * 1.75 - 220px);
    background-color: #FFFFFF;
    position: absolute;
    left: calc(400px + 38%);
    right: 38px; }
  #TopNav-menu-list {
    right: 15.5%; }
  .TopNav-right {
    margin-right: 15.1%; }
  #Poplisting, #writer {
    right: 15.5%; }
  .Writer-fs #writer-input {
    width: calc(100vw * .723); }
  .Writer-fs {
    transform: translate3d(0px, -385px, 0px); }
  #writer-options {
    right: 16.1vw; } }
