html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-color: #FCFCFB;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

//fastclick issue
label > * {
    display: block;
    pointer-events: none;
}

select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FCFCFB;
    color: #222;
    fill: #222;
}

body.flux {
    background-color: #222;
    color: #cfd0ca;
    fill: #cfd0ca;
}

body {
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}


.img-thumbnail, body {
    background-color: #FCFCFB;
}

body, figure {
    margin: 0;
}

.normal .TopNav {
    background-color: #FFF;
}

.flux .TopNav {
    background-color: #141414;
}

.TopNav {
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0,#fff 15%);
    background-color: #FCFCFB;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 11;
    -webkit-user-select: none;
    top: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

.icon-down-open-big:before {
    margin: 3px;
}

.TopNav-left {
    max-width: calc(100% - 48px);
    overflow: hidden;
    white-space: nowrap;
}

.TopNav-right {
    line-height: 3.5em;
    position: absolute;
    right: 5px;
    height: 100%;
    padding-left: 30px;
}

.icon-comment:before {
    margin: 7px;
}

.hide {
  display:none;
}

.menu-active {
  //position:fixed;
  overflow:hidden;
}

.active {
  color: #5FB5FF;
}

#TopNav-icon {
  position: absolute;
  top: 8.3px;
  left: 10px;
  color: white;
  background-color: #42A8FF;
  font-size: 18px;
}

#TopNav-title-text {
  position: absolute;
  top: 10.5px;
  left: 50px;
  font-size: 20px;
  font-family: title, sans-serif;
  font-weight: 600;
}

#TopNav-post {
  right: 75px;
  position: absolute;
}

#TopNav-search {
  right: 33px;
  position: absolute;
  top: 0px;
}

#TopNav-menu {
  right: 0px;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0px;
  padding-right: 8px;
  outline: none;
}

#TopNav-searchbox {
  height: 48px;
  width: 100%;
  display: block;
  background-color: #FCFCFB;
}

#TopNav-searchbox-box {
  height: 48px;
  float: right;
  position:absolute;
  padding: 0px 40px;
  width: 100%;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  outline: none;
  font-size: 16px;
}

#TopNav-searchbox-clear {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #CCCCCA;
  font-size: 22px;
}

#TopNav-searchbox-exit {
  position: absolute;
  z-index: 12;
  top: 8px;
}

#TopNav-searchbox-exit-icon {
  font-size: 22px !important;
}

#TopNav-searchbox-bg {
  z-index:12;
  background-color: rgba(0,0,0,.4);
  width: 100%;
  position: fixed;
  overflow-y: hidden;
  height: 100%;
}

#nav-placeholder {
  padding-top: 48px;
}

//style writer
#TopNav-writer-mount {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 12;
  background-color: #FCFCFB;
}

//style writer
#TopNav-writer-top {
  height: 48px;
  width: 100%;
  background-color: #FCFCFB;
  border-bottom: 1px solid #CCCCCA;
}

//save button
#TopNav-writer-save {
  position: absolute;
  z-index: 12;
  left: 4px;
  top: 4px;
}

//save button
#TopNav-writer-cancel {
  position: absolute;
  right: 2px;
  font-size: 32px !important;
}

#TopNav-writer-submit-label {
  position:absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 15;
}

//text on top
#TopNav-writer-head {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
}

//link input container
#TopNav-writer-link {
  height: 60px;
  width: 100%;
}

//link input
#TopNav-writer-link-box {
  padding-right: 60px;
  text-indent: 10px;
  font-size: 16px;
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

//upload button
#TopNav-writer-content {
  position: absolute;
  top: 55px;
  right: 15px;
}

//upload
#TopNav-writer-content-submit {
  display: none;
}

//body section
#TopNav-writer-main {
  height: calc(100% - 108px);
  width: 100%;
  padding-bottom: 48px;
}

#TopNav-writer-input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
  outline: none;
}
//footer area
#TopNav-writer-foot {
  border-top: solid 1px #CCCCCA;
  position: absolute;
  bottom: 0px;
  height: 48px;
  width: 100%;
}

#TopNav-writer-send {
  float: right;
  font-size: 16px;
  padding: 5px 10px;
  margin: 8px;
  background-color: #5FB5FF;
  color: white;
}

#TopNav-writer-group {
  font-size: 16px;
  float: left;
  padding: 13px 13px 13px 8px;
}

#TopNav-writer-select{
  color: #0A0A94;
  border: none;
  background: transparent;
}

#TopNav-writer-identity-select {
  color: #CCCCCA;
  border: none;
  background: transparent;
}

#TopNav-writer-identity {
  color: #CCCCCA;
  border: none;
  background: transparent;
  position: absolute;
  bottom: 60px;
  right: 10px;
}


//menu
#TopNav-menu-bg {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  z-index: 11;
  padding-bottom: calc(100% + 50px);
  top: 48px;
  left: 0;
  font-size: 15px;
  overflow-y: hidden;
}

.ddtop {
  box-shadow: inset 0 5px 4px -5px rgba(0, 0, 0, 0.2);
}

.dropdown {
  margin: 0;
  z-index: 3;
  list-style: none;
  background-color: #FCFCFB;
  padding: 0px;
}

.ddnested {
  margin-left: 20px;
}

.TopNav-menu-dropdown-row {
  height: 48px;
  background-color: #FCFCFB;
  position: relative;
}

.ddicon {
  font-size: 22px !important;
  position: absolute;
  left: 6px;
  top: 6px;
}

.ddtext {
  position: absolute;
  left: 50px;
  top: 12px;
}

#TopNav-dropdown-down {
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 20px !important;
}

#dd-icon-privacy {
  color: #7BBDE6
}

#dd-icon-signup {
  color: #00E500;
}

#dd-icon-login {
  color: #5FB5FF;
}

#dd-icon-about {
  color: #3DF3FF;
}

#dd-icon-secret {
  color: #70CACA
}

/* POST BODY TEXT */
.Body-title {
  font-size: 16px;
  font-weight: bold;
}
.Body-green {
  color: #789922;
}
.Body-code {
  font-family: monaco, roboto, sans-serif;
  background-color: #FCFCFB;
}
