//content that will be dependent on screen size
.desktop {
  display: none;
}

.bigger {
  display: none;
}

@media only screen and (min-width : 470px) and (max-width : 768px) {
  /* Styles */
  iframe {
    width: calc(75vh * 1.77) !important;
    height: 75vh !important;
  }
  .Content-frame {
    text-align: center;
  }
  .List {
    min-height: calc(100vh - 90px);
    margin: auto;
    width: 98%;
  }
}

@media only screen and (min-width : 768px) and (max-width : 900px) {
  /* Styles */
  iframe {
    width: calc(75vh * 1.77) !important;
    height: 75vh !important;
  }
  .Content-frame {
    text-align: center;
  }
  .List {
    min-height: calc(100vh - 90px);
    margin: auto;
    width: 90%;
  }
}

//desktop views
@media only screen and (min-width : 900px) {
  #Main-desktop-info {
    top: 47px;
    width: 17.5%;
    position: absolute;
    left: 10px;
  }

  #Main-desktop-title-text {
    color: #3b5998;
  }

  .GroupName {
    padding: 5px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    border-bottom: solid 3px #FFF5F5;
  }
  .GroupAuthor {
    font-size: 18px;
  }
  /*
  <div id="Main-desktop-info" class="desktop">
    <div class="GroupName">${info.name}</div>
    <div class="GroupAuthor">
      <p>Author</p>
      <p>${info.author}</p>
    </div>
    <div class="Created">
      <p>Created</p>
      <p>${generateTimestamp(info.created)}</p>
    </div>
  </div>
  */

  .desktop {
    display: block;
  }

  .PopularList, #Main-desktop-group{
    overflow: hidden;
    background-color: #F8F8F8;
  }

  //set look of image to not 100% automatically
  .Thread img {
    width: calc(75vh * 1.77);
    max-height: 75vh;
  }

  /* show normal view in stream */
  iframe {
    width: calc(75vh * 1.77);
  }

  //set size of right footer
  .Footer-right {
    font-size: 14px;
  }

  //show full width vids in thread view
  .Thread iframe {
    width: calc(75vh * 1.77);
    height: 75vh;
  }
  .PopularPost iframe {
    width: 100%;
    min-height: 200px;
    height: auto !important;
  }

  .PopularPost, #Main-desktop-title {
    background-color: #FFFFFF;
  }

  #Main-desktop-title {
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    display: flex;
  }
  #Main-container {
    background-color: #FFF5F5;
  }

  .TopNav {
    height: 42px;
  }
  .PopularPost {
    margin: 2.5px 0px;
  }
  .PopularPost .Head-right {
    float: right;
  }

  .HeadPost, .Post, #Main-desktop-group {
    border: 1px solid #F9EBEB;
  }

  .Thread {
    margin: auto !important;
    min-width: 800px !important;
  }

  .List {
    min-height: calc(100vh - 90px);
    max-width: 500px;
    margin-left: 20%;
  }

  #TopNav-icon {
    left: 30px;
    top: 5px;
  }

  #TopNav-title-text {
    top: 7px;
    left: 68px;
  }

  #nav-placeholder {
    padding-top: 42px;
  }

  .icon {
    font-size: 24px;
    color: #CCCCCA;
    padding: 0px;
  }
  .TopNav-right {
    top: -3px;
    margin-right: 100px;
    display: inline-block;
  }
  #TopNav-post {
      top: -14px;
      right: auto;
      position: relative;
      display: inline-block;
      width: 70px;
  }
  #TopNav-post-text {
    top: -3px;
    right: 5px;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    color: #CCCCCA;
  }
  #TopNav-search {
    top: -15px;
    right: auto;
    width: 92px;
    position: relative;
    display: inline-block;
  }
  #TopNav-search .icon {
    font-size: 22px;
  }
  #TopNav-search-text {
    top: -3px;
    right: 5px;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    color: #CCCCCA;
  }
  #TopNav-menu {
    margin-left: 14px !important;
    height: 48px;
    right: auto;
    width: 71px;
    display: inline-block;
    position: relative;
  }
  #TopNav-menu .icon {
    top: 0px;
    width: auto;
    left: 0px;
    position: absolute;
  }
  #TopNav-menu-text {
    padding-left: 5px;
    top: -3px;
    right: 0px;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    color: #CCCCCA;
  }
  #TopNav-post, #TopNav-search, #TopNav-menu {
    margin: 0px 8px;
  }
  #prevpage {
    margin-left: 10%;
  }
  #nextpage {
    margin-right: 10%;
  }
}

@media only screen and (min-width : 900px) and (max-width : 1223px) {

  #Main-desktop-group {
    top: 47px;
    width: calc(27% * 1.75 - 210px);
    overflow-y: scroll;
    background-color: #FFFFFF;
    position: absolute;
    left: calc(340px + 38%);
  }
}

//make media visible for large screens
@media only screen  and (min-width : 1224px) {
  #Main-desktop-group {
    top: 47px;
    width: 350px;
    overflow-y: scroll;
    background-color: #FFFFFF;
    position: absolute;
    left: calc(325px + 35%);
  }
}
