//content that will be dependent on screen size
.desktop {
  display: none;
}

.bigger {
  display: none;
}

@media only screen and (min-width : 470px) and (max-width : 768px) {
  /* Styles */
  iframe {
    width: calc(75vh * 1.77) !important;
    height: 75vh !important;
  }
  .Content-frame {
    text-align: center;
  }
  .List {
    min-height: calc(100vh - 90px);
    margin: auto;
    width: 98%;
  }
}

@media only screen and (min-width : 768px) and (max-width : 900px) {
  /* Styles */
  iframe {
    width: calc(75vh * 1.77) !important;
    height: 75vh !important;
  }
  .Content-frame {
    text-align: center;
  }
  .List {
    min-height: calc(100vh - 90px);
    margin: auto;
    width: 90%;
  }
}

//desktop views
@media only screen and (min-width : 900px) {
  .TopNav-menu-dropdown-row, .Head-author, .GroupAuthor-name {
    cursor: pointer;
  }
  .TopNav-menu-dropdown-row:hover {
    background-color: #F5F5F3;
  }

  .GroupAuthor-name:hover, .Head-author:hover {
    color: #A3D4FF;
  }

  .icon, label, .Head-rm {
    cursor: pointer !important;
  }

  .icon:hover, label:hover,.Head-rm {
    color: #A3D4FF;
  }

  .menu-active {
    overflow-y: scroll !important;
  }

  //desktop hover
  .DTReaction:hover {
    color: #A3D4FF;
  }

  a:hover :not(#TopNav-title-text){
    color: #A3D4FF;
    cursor: pointer;
  }
  a{
    cursor: pointer;
  }
  .Head-group:hover {
    color: #A3D4FF;
  }

  .space:hover {
    color: #A3D4FF;
  }
  .space:hover {
    cursor: pointer;
  }

  //writer
  #TopNav-writer-mount {
    top: auto;
    left: auto;
    position: fixed;
    height: 60vh;
    width: 300px;
    z-index: 14;
    background-color: #FCFCFB;
    bottom: 0px;
    right: 20vw;
    border-top: solid 1px #F9EBEB;
    border-right: solid 1px #F9EBEB;
    border-left: solid 1px #F9EBEB;
  }
  .originalWriter {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }
  .originalWriter #TopNav-writer-head:hover:after{
    content:' minimize';
  }
  #TopNav-writer-head {
    cursor: pointer;
  }

  #TopNav-writer-head:hover:after{
    color: #CCCCCA;
    content:' fullscreen';
  }

  #TopNav-writer-link-box {
    border-bottom: none;
  }
  #TopNav-writer-mount textarea {
    border-top: solid 1px #ccc;
    border-right: solid 1px #F9EBEB;
    resize: horizontal;
  }

  //search
  #TopNav-searchbox-clear, #TopNav-searchbox-exit {
    top: 5px;
  }

  #TopNav-searchbox {
      height: 42px;
  }

  #TopNav-searchbox-box {
    height: 42px;
  }

  //menu
  #TopNav-menu-bg {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 11;
    padding-bottom: calc(100% + 50px);
    top: 42px;
    left: 0;
    font-size: 15px;
    overflow-y: hidden;
  }

  #TopNav-menu-list {
    border: 1px solid #CCC;
    position: absolute;
    width: 240px;
    z-index: 11;
    left: auto;
    top: 0px;
    right: 100px;
    font-size: 15px;
    overflow-y: hidden;
    font-size: 14px;
    background: transparent !important;
    padding-bottom: 0px !important;
  }

  #dropdown-caret {
    display: none;
  }

  .writemode .icon-pencil {
    color: #5FB5FF !important;
  }

  .writemode #TopNav-post-text {
    color: #5FB5FF !important;
  }

  .active + #TopNav-menu-text {
    color: #5FB5FF;
  }


  .active ~ #dropdown-caret {
    position: absolute;
    display: block;
    color: #FCFCFB;
    text-shadow: 1px 0 0 #CCC, 0 -1px 0 #CCC, 0 1px 0 #FCFCFB, -1px 0 0 #CCC;
    z-index: 13;
    top: 17px;
  }
  .ddtop {
    box-shadow: none;
  }

  .Created {
    font-size: 16px;
    padding-left: 5px;
  }

  #TopNav-writer-submit-label {
    top: 6.5px;
  }

  #Main-desktop-info {
    top: 47px;
    width: 18%;
    position: absolute;
    left: 10px;
  }

  #Main-desktop-title-text {
    color: #3b5998;
  }

  .GroupPage {
    padding-left: 5px;
    font-size: 16px;
    border-bottom: solid 1px #ccc;
  }

  .GroupName {
    padding: 5px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #ccc;
  }
  .GroupAuthor {
    font-size: 16px;
    padding-left: 5px;
    border-bottom: solid 1px #ccc;
    min-height: 40px;
  }
  .GroupAuthor-text {

  }
  .GroupAuthor-name{
    color: #3b5998;
  }

  .desktop {
    display: block;
  }

  .PopularList, #Main-desktop-group{
    overflow: hidden;
    background-color: #F8F8F8;
  }

  //set look of image to not 100% automatically
  .Thread img {
    width: calc(75vh * 1.77);
  }

  /* show normal view in stream */
  iframe {
    width: calc(75vh * 1.77);
  }

  //set size of right footer
  .Footer-right {
    font-size: 14px;
  }

  //show full width vids in thread view
  .Thread iframe {
    width: calc(75vh * 1.77);
    height: 75vh;
  }
  .PopularPost iframe {
    width: 100%;
    min-height: 200px;
    height: auto !important;
  }

  .PopularPost, #Main-desktop-title {
    background-color: #FFFFFF;
  }

  #Main-desktop-title {
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    display: flex;
  }
  #Main-container {
    background-color: #FFF5F5;
  }

  .TopNav {
    height: 42px;
  }
  .PopularPost {
    margin: 2.5px 0px;
  }
  .PopularPost .Head-right {
    float: right;
  }

  .HeadPost, .Post, #Main-desktop-group {
    border: 1px solid #F9EBEB;
  }

  .Thread {
    margin: auto !important;
    min-width: 800px !important;
  }

  .List {
    min-height: calc(100vh - 90px);
    max-width: 500px;
    margin-left: 20%;
  }

  #TopNav-icon {
    left: 35px;
    top: 8px;
    font-size: 16px !important;
  }

  #TopNav-title-text {
    top: 7px;
    left: 68px;
  }
  //manage comment icon's margin
  .icon-comment:before {
    margin: 5px;
  }

  #nav-placeholder {
    padding-top: 42px;
  }

  .icon {
    font-size: 24px;
    color: #CCCCCA;
    padding: 0px;
  }
  .TopNav-right {
    top: -3px;
    margin-right: 100px;
    display: inline-block;
  }

  #TopNav-post {
      top: -13px;
      right: auto;
      position: relative;
      display: inline-block;
      width: 70px;
  }

  #TopNav-post .icon {
      position: relative;
      top: -3px;
  }

  #TopNav-post-text {
    top: -5px;
    right: 5px;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    color: #CCCCCA;
  }
  #TopNav-search {
    top: -15px;
    right: auto;
    width: 92px;
    position: relative;
    display: inline-block;
  }
  #TopNav-search .icon {
    font-size: 22px;
    position: relative;
    top: -2px;
  }
  #TopNav-search-text {
    top: -3px;
    right: 5px;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    color: #CCCCCA;
  }
  #TopNav-menu {
    margin-left: 14px !important;
    height: 48px;
    right: auto;
    width: 71px;
    display: inline-block;
    position: relative;
    color: #CCCCCA;
  }

  #TopNav-menu:hover {
    color: #A3D4FF;
  }

  #TopNav-menu .icon {
    top: 0px;
    width: auto;
    left: 0px;
    position: absolute;
  }
  #TopNav-menu-text {
    padding-left: 5px;
    top: -3px;
    right: 0px;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    color: inherit;
  }

  #TopNav-menu-icon {
    color: inherit;
  }


  #TopNav-post, #TopNav-search, #TopNav-menu {
    margin: 0px 8px;
  }
  #prevpage {
    margin-left: 10%;
  }
  #nextpage {
    margin-right: 10%;
  }
}

@media only screen and (min-width : 900px) and (max-width : 1223px) {

  #Main-desktop-group {
    top: 47px;
    width: calc(27% * 1.75 - 210px);
    overflow-y: scroll;
    background-color: #FFFFFF;
    position: absolute;
    left: calc(340px + 38%);
  }
}

//make media visible for large screens
@media only screen  and (min-width : 1224px) {
  #Main-desktop-group {
    top: 47px;
    width: 350px;
    overflow-y: scroll;
    background-color: #FFFFFF;
    position: absolute;
    left: calc(325px + 35%);
  }
}
